@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    max-width: 30%;
  }

  .menu {
    display: none;
  }

  .about-par {
    max-width: 65%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .work-section .lang-descr {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .section-img {
    width: 100%;
    height: auto;
  }
}

.toolbar {
  display: flex;
  order: 1;
  justify-content: space-between;
  margin-top: 30px;
}

.logo {
  width: 70%;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin-left: 2rem;
  margin-top: 1rem;
}

.nav-div {
  width: 20%;
  display: flex;
  margin-right: 8rem;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex: 1;
  margin: 0 auto;
}

.nav-link-item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
  padding: 4px;
  animation-name: links_load;
  animation-duration: 6s;
}

/* @keyframes links_load {
  0% { transform: translateX(200px); }
}
 */
.logo a {
  color: #6070ff;
  text-decoration: none;
}

.nav-link-item a {
  color: #344563;
  text-decoration: none;
}

.first-page {
  background-image: url('images/header.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .first-page {
    background-position: -89px -24px;
  }

  .div-header {
    margin-top: 10px;
  }
}

.first-page .div-header {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}

.div-header .header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 70%;
  padding-bottom: 1rem;
}

.div-header .about-par {
  width: 90%;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 1rem;
}

.div-header .connect-page {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 1rem;
}

.div-header .list {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  list-style-type: none;
}

.work-section {
  background-color: #e5e5e5;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  padding-top: 8rem;
}

.work-section .card {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  border: 1px solid #dfe1e6;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  .work-section .card {
    max-width: 90%;
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem;
  }

  .card .work-header {
    padding-top: 2rem;
    margin-bottom: 1rem;
  }

  .card .card-info {
    padding: 1.5rem;
  }

  .work-header .descr-list {
    margin-top: 2rem;
  }

  .about-myself .div-about {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem;
  }

  .about-myself .connect-page {
    padding-bottom: 1rem;
  }

  .btn-resume {
    width: 30%;
  }

  .list-lang {
    display: flex;
    flex-direction: row;
  }
}

.section-img {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  height: auto;
}

.section-img img {
  width: 100%;
}

.card-info {
  width: 90%;
  margin: 0 auto;
  height: 50vh;
}

.work-header,
.about-header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #091e42;
}

.descr-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: flex-start;
  column-gap: 2em;
  padding-bottom: 1rem;
}

.descr-list-item1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.descr-list-item {
  width: 100%;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
}

/* |||LISTS|| */
@media screen and (min-width: 768px) {
  .descr-list-item {
    margin-left: 5px;
    padding: 0;
    text-align: right;
  }

  .div-skills .flex-item {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: #344563;
  }

  .div-skills .div-list-lang {
    width: 50%;
  }

  .div-skills .div-list-lang .list-lang {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    width: 20%;
    height: auto;
    position: relative;
    text-align: bottom;
  }

  .div-skills .div-list-lang .div-list-img {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-right: 2rem;
  }

  .caption {
    display: block;
  }

  .div-about .div-list {
    margin-top: 20px;
  }
}

.counter-img {
  padding-right: 15px;
}

.lang-descr {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 1rem;
}

.lang-list {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  list-style-type: none;
  width: 100%;
  padding: 0.5rem;
  height: 5vh;
  margin-bottom: 2rem;
}

.lang-list-descr {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  height: 24px;
  background: #f1f1fd;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.btn-project,
.btn-resume {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 24px;
  margin-top: 2rem;
}

.btn-project:hover,
.btn-resume:hover {
  background-color: #396df2;
  color: #fff;
  opacity: 0.8;
}

.btn-project:active,
.btn-resume:active {
  background-color: #396df2;
  color: #fff;
  opacity: 0.6;
}

.section-img:hover {
  transform: scale(1.1);
}

.about-myself {
  padding-top: 100px;
  display: flex;
  background-color: #e5e5e5;
  height: 20%;
}

.div-about {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  height: 70vh;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  align-items: flex-start;
}

.div-about .self-descr {
  width: 90%;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 1rem;
}

.div-about .connect-page {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 1rem;
}

.div-about .div-list {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  list-style-type: none;
}

.div-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}

.flex-item,
.flex-item1 {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.flex-item1 {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #344563;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 60px 1fr;
  gap: 1rem;
}

.grid-template-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #6070ff;
}

.list-lang {
  display: grid;
  grid-template-columns: 100px 1fr;
  list-style-type: none;
}

.list-lang-item {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #6070ff;
  align-items: center;
}

.list-img {
  float: left;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

/* contact section */
.contact-section {
  background-image: url(images/contact\ form\ background\ shapes.svg);
  background-repeat: no-repeat;
  background-color: #6070ff;
  background-position: 208px 44px;
  border-top-left-radius: 60px;
}

.contact-header {
  width: 60vw;
  margin: 10px auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 8rem;
  color: #fff;
  min-width: 300px;
  max-width: 500px;
}

.div-contact {
  min-width: 300px;
  max-width: 500px;
}

.contact-descr {
  margin: 22px auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  width: 70%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  flex-wrap: nowrap;
  min-width: 300px;
  max-width: 500px;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 15px;
  display: flex;
  align-items: center;
  margin: 5px auto;
  padding: 15px 16px;
  border: none;
  outline: none;
  border-radius: 8px;
}

.contact-form textarea {
  resize: none;
}

.btn-submit {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 13px;
  border-radius: 8px;
  border: none;
  margin-left: 1.5rem;
  width: 30%;
  margin-bottom: 0.5rem;
}

.btn-submit:hover {
  background-color: #6070ff;
  color: #fff;
  border: 1px solid #fff;
}

@media screen and (min-width: 768px) {
  /*  ||CONTACT SECTION|| */
  .contact-section {
    background-position: 25px 13px;
  }

  .div-contact {
    width: 90%;
    background-color: #6070ff;
    justify-content: center;
    padding: 2rem;
    margin: 0 auto;
  }

  .contact-descr {
    width: 100%;
  }

  .contact-form {
    width: 90%;
    justify-content: center;
    padding: 2rem;
    margin: 0 auto;
    margin-top: -70px;
  }

  .btn-submit {
    padding: 8px;
    margin: 0 auto;
    margin-top: 1rem;
    height: 40px;
  }

  .btn-resume {
    padding: 12px;
    width: 32%;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  /* .nav-div {
    display: none;
  } */
  .descr-list {
    margin-bottom: 0.5rem;
    color: #6070ff;
  }

  .btn-project {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  .work-section {
    margin-top: -1rem;
    padding-top: 2rem;
  }

  .first-page {
    background-image: url('images/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /*  about section */
  .about-myself {
    padding-top: 100px;
    display: flex;
    background-color: #e5e5e5;
    height: 100vh;
  }

  .div-about {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 85vh;
    background-color: #fff;
    padding: 2rem;
    border-radius: 2rem;
    align-items: flex-start;
  }

  .div-about .self-descr {
    width: 90%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding-bottom: 1rem;
  }

  .div-about .connect-page {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6070ff;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1rem;
  }

  .div-about .div-list {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    list-style-type: none;
  }

  .div-grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
  }

  .flex-item,
  .flex-item1 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .flex-item1 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    color: #344563;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .grid-container {
    display: inline-grid;
    grid-template-columns: 60px 1fr;
    gap: 1rem;
  }

  .grid-template-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #6070ff;
  }

  .list-lang {
    display: grid;
    grid-template-columns: 100px 1fr;
    list-style-type: none;
  }

  .list-lang-item {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #6070ff;
    align-items: center;
  }

  .list-img {
    float: left;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .hamburger {
    position: fixed;
    z-index: 100;
    right: 1rem;
    padding: 4px;
    background: white;
    cursor: pointer;
    color: royalblue;
    border: none;
    
  }

  .closeIcon {
    display: none;
  }

  .menu {
    position: fixed;
    transform: translateY(-300%);/* hide menu by default above the screen */
    transition: transform 1s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: royalblue;
    list-style: none;
    padding-top: 4rem;
    justify-content: center;
    margin-top: 1rem;
    opacity: 0.9;
    filter:(blur(2px));
    
  }

  .showMenu {/* ||show and hide menu|| */
    transform: translateY(0);/* //make menu slide down */
    
  }
  .menuItem {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    font-size: 28px;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
    z-index: -100;
    

  }

}












