@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.logo {
  width: 70%;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

a {
  color: #6070ff;
  text-decoration: none;
}

.first-page {
  background-image: url('images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.first-page .div-header {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}

.div-header .header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 70%;
  padding-bottom: 1rem;
}

.div-header .about-par {
  width: 90%;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 1rem;
}

.div-header .connect-page {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 1rem;
}

.div-header .list {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  list-style-type: none;
}

.work-section {
  background: #e5e5e5;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  padding-top: 8rem;
}

.work-section .card {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  border: 1px solid #dfe1e6;
  margin-bottom: 3rem;
}

.section-img {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  height: auto;
}

.section-img img {
  width: 100%;
}

.card-info {
  width: 90%;
  margin: 0 auto;
  height: 50vh;
}

.work-header,
.about-header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding-bottom: 1rem;
}

.descr-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: flex-start;
  column-gap: 2em;
  padding-bottom: 1rem;
}

.descr-list-item1 {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.descr-list-item {
  width: 88px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.counter-img {
  padding-right: 15px;
}

.lang-descr {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 1rem;
}

.lang-list {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  list-style-type: none;
  width: min-content;
  padding: 0.5rem;
  height: 5vh;
}

.lang-list-descr {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.btn-project,
.btn-resume {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 24px;
  margin-top: 2rem;
}

.btn-project:hover,
.btn-resume:hover {
  background-color: royalblue;
  color: #fff;
}

.about-myself {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.div-about {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}

.div-about .self-descr {
  width: 90%;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 1rem;
}

.div-about .connect-page {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 1rem;
}

.div-about .div-list {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  list-style-type: none;
}

.div-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}

.flex-item {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 60px 1fr;
  gap: 1rem;
}

.grid-template-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.list-lang {
  display: grid;
  grid-template-columns: 100px 1fr;
  list-style-type: none;
}

.list-lang-item {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  align-items: center;
}

.list-img {
  float: left;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.contact-section {
  background-image: url('images/contact.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vw;
  margin-top: 2rem;
  width: 100%;
}

.contact-header {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 2rem;
  color: #fff;
}

.contact-descr {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  padding: 1rem;
}

.contact-form {
  margin-top: 30px;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 15px;
  display: flex;
  align-items: center;
  margin: 5px auto;
  padding: 5px 5px;
  border: none;
  border-radius: 8px;
}

.btn-submit {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-left: 1.5rem;
}

.btn-submit:hover {
  background-color: royalblue;
  color: #fff;
}
